{% load gsmp_tags %}
{% load static %}

<!DOCTYPE html>


<style>
    .meet-specialists {
        text-align: center;
        padding-top: 40px;
        padding-bottom: 40px;
        background: #f5f5f5;
        color: #4b4b4b;

    }
.meet-specialists{ padding:90px 0;}
.meet-specialists img{ width:100%;}
.meet-specialists .detail{ margin:35px 0 0 0; }
.meet-specialists .detail span{ }
.meet-specialists .detail p{ margin:15px 0 0 0; }
.meet-specialists .detail a{font-style: italic; font-weight: 600;  margin: 13px 0 0 0;  display: inline-block;  color: #525866; font-family: 'Raleway', sans-serif;}


</style>

<div class="meet-specialists">
    <div class="container" >
        <div class="row">
            <div class="col-md-12">
                <div class="main-title">
                    <h2><span>Meet Our</span> Specialists</h2>
                    <p>If you need a doctor for to consectetuer Lorem ipsum dolor, consectetur adipiscing elit. Ut
                        volutpat eros adipiscing nonummy.</p>
                </div>
            </div>
        </div>

        <div id="demo">
            <div class="container">
                <div class="row">
                    <div class="span12">

                        <div id="owl-demo4" class="owl-carousel" style="opacity: 1; display: block;">

                            <div class="owl-wrapper-outer">
                                <div class="owl-wrapper"
                                     style="width: 3230px; left: 0px; display: block; transition: all 0ms ease 0s; transform: translate3d(-323px, 0px, 0px);">

                                    <div class="owl-item" style="width: 323px;">
                                        <div class="post item">
                                            <div class="gallery-sec">
                                                <div class="image-hover img-layer-slide-left-right">
                                                    <img src="{% static 'gsmp/images/news-img1.jpg' %}" alt="">
                                                    <div class="layer">
                                                        <a href="#."><i class="icon-euro"></i></a>
                                                        <a href="#."><i class="icon-yen"></i></a>
                                                        <a href="#."><i class="icon-caddieshoppingstreamline"></i></a>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="detail">
                                                <h6>Dr. Andrew Bert</h6>
                                                <span>Outpatient Surgery</span>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec
                                                    eros eget nisl
                                                    fringilla commodo.</p>
                                                <a href="team-member-detail.html">- View Profile</a>
                                            </div>

                                        </div>
                                    </div>


                                    <div class="owl-item" style="width: 323px;">
                                        <div class="post item">

                                            <div class="gallery-sec">
                                                <div class="image-hover img-layer-slide-left-right">
                                                    <img src="{% static 'gsmp/images/news-img2.jpg' %}" alt="">
                                                    <div class="layer">
                                                        <a href="#."><i class="icon-euro"></i></a>
                                                        <a href="#."><i class="icon-yen"></i></a>
                                                        <a href="#."><i class="icon-caddieshoppingstreamline"></i></a>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="detail">
                                                <h6>Dr. Sara Stefon</h6>
                                                <span>Cardiologist</span>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec
                                                    eros eget nisl fringilla commodo.</p>
                                                <a href="team-member-detail.html">- View Profile</a>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="owl-item" style="width: 323px;">
                                        <div class="post item">

                                            <div class="gallery-sec">
                                                <div class="image-hover img-layer-slide-left-right">
                                                    <img src="{% static 'gsmp/images/news-img3.jpg' %}" alt="">
                                                    <div class="layer">
                                                        <a href="#."><i class="icon-euro"></i></a>
                                                        <a href="#."><i class="icon-yen"></i></a>
                                                        <a href="#."><i class="icon-caddieshoppingstreamline"></i></a>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="detail">
                                                <h6>Dr. Wahab Apple</h6>
                                                <span>Heart Specialist</span>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec
                                                    eros eget nisl fringilla commodo.</p>
                                                <a href="team-member-detail.html">- View Profile</a>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="owl-item" style="width: 323px;">
                                        <div class="post item">

                                            <div class="gallery-sec">
                                                <div class="image-hover img-layer-slide-left-right">
                                                    <img src="{% static 'gsmp/images/news-img4.jpg' %}" alt="">
                                                    <div class="layer">
                                                        <a href="#."><i class="icon-euro"></i></a>
                                                        <a href="#."><i class="icon-yen"></i></a>
                                                        <a href="#."><i class="icon-caddieshoppingstreamline"></i></a>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="detail">
                                                <h6>Dr. Mecan smith</h6>
                                                <span>Heart Specialist</span>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec
                                                    eros eget nisl fringilla commodo.</p>
                                                <a href="team-member-detail.html">- View Profile</a>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="owl-item" style="width: 323px;">
                                        <div class="post item">

                                            <div class="gallery-sec">
                                                <div class="image-hover img-layer-slide-left-right">
                                                    <img src="{% static 'gsmp/images/news-img5.jpg' %}" alt="">
                                                    <div class="layer">
                                                        <a href="#."><i class="icon-euro"></i></a>
                                                        <a href="#."><i class="icon-yen"></i></a>
                                                        <a href="#."><i class="icon-caddieshoppingstreamline"></i></a>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="detail">
                                                <h6>Dr. Jack Bravo</h6>
                                                <span>Heart Specialist</span>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec
                                                    eros eget nisl fringilla commodo.</p>
                                                <a href="team-member-detail.html">- View Profile</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="owl-controls clickable">
                                <div class="owl-pagination">
                                    <div class="owl-page active">
                                        <span class=""></span>
                                    </div>
                                    <div class="owl-page"><span class=""></span></div>
                                </div>
                                <div class="owl-buttons">
                                    <div class="owl-prev">prev</div>
                                    <div class="owl-next">next</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{#<script type="text/javascript" src="{% static 'gsmp/js/custom.js' %}"></script>#}
<script>


    $(document).ready(function () {
        $('.owl-carousel').owlCarousel({
             items: 3,
            loop: true,
            margin: 10,
            nav: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 4
                }
            }
        });
        <!-- All Carousel -->
        <!-- Home News-Posts Carousel -->
        $("#owl-demo").owlCarousel({
            items: 3,
            lazyLoad: true,
            navigation: true,
        });


        $("#owl-demo4").owlCarousel({
            items: 3,
            lazyLoad: true,
            navigation: true,
        });


        <!-- Testimonials Carousel -->
        $("#owl-demo2").owlCarousel({
            autoPlay: 111110,
            stopOnHover: true,
 items: 3,
            paginationSpeed: 1000,
            goToFirstSpeed: 2000,
            singleItem: true,
            autoHeight: true,

        });

        $("#team-detail").owlCarousel({

            navigation: true,
            slideSpeed: 300,
            paginationSpeed: 400,
            singleItem: true,
        });
    });


</script>
</html>