{% extends 'gsmp/base.html' %}
{% load i18n %}



{% block content %}
            <style>
        .card {
            border-radius: 30px; /* რბილი კიდეები */
            border: 4px solid #e0e0e0; /* მსუბუქი საზღვარი */
        }

        .card-body {
            padding-top: 1rem;
            padding-bottom: 3rem; /* მეტი პედინგი */
            padding-left: 3rem;
            padding-right: 3rem;
        }

        .card-title {
            font-weight: bold;
            color: #333;
        }
    </style>

<div class="container my-5">

    <div class="card shadow-sm">
    <div class="card-title"> <h1 class="text-center mb-5">{% blocktrans %}პაროლი შეცვლილია{% endblocktrans %}</h1> </div>
        <div class="card-body">
  <div class="container-fluid"  >



<p>{% blocktrans %}თქვენ წარმატებით შეცვალეთ პაროლი{% endblocktrans %} </p>
 <p></p> <a href="{% url 'members:login' %}">{% blocktrans %}სისტემაში შესვლა{% endblocktrans %}</a>.</p>
</div>
    </div>
    </div></div>


{% endblock %}

