{% extends 'gsmp/base.html' %}
{% load i18n %}

{% block content %}
    <style>
    .card {
    border-radius: 30px; /* რბილი კიდეები */
    border: 4px solid #e0e0e0; /* მსუბუქი საზღვარი */
}

.card-body {
    padding-top: 1rem;
    padding-bottom: 3rem; /* მეტი პედინგი */
    padding-left: 3rem;
    padding-right: 3rem;
    font-weight: bold;
}

.card-title {
    font-weight: bold;
    color: #333;

}

    </style>
     <div class="container my-5">
        <div class="card shadow-sm">
            <div class="card-title"> <h1 class="text-center mb-5">{{ title }}</h1> </div>
            <div class="card-body">

  <div class="container-fluid" style="justify-items: center" >



<form method="post">
    {% csrf_token %}
    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for f in form %}
    <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}

    <p><button type="submit" class="btn btn-primary">{% trans "შეინახე" %}</button></p>
</form>
</div>
    </div>
    </div>
    </div>
{% endblock %}


