{% extends 'gsmp/base.html' %}
{% load i18n %}


{% block content %}
    <style>
        .card {
            border-radius: 30px; /* რბილი კიდეები */
            border: 4px solid #e0e0e0; /* მსუბუქი საზღვარი */
        }

        .card-body {
            padding-top: 1rem;
            padding-bottom: 3rem; /* მეტი პედინგი */
            padding-left: 3rem;
            padding-right: 3rem;
        }

        .card-title {
            font-weight: bold;
            color: #333;
        }
    </style>

<div class="container my-5">

    <div class="card shadow-sm">
    <div class="card-title"> <h1 class="text-center mb-5">{% blocktrans %}   პაროლის აღდგენა{% endblocktrans %}   </h1> </div>

<p>{% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}</p>

<p>{% translate 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}</p>
</div>
    </div>
    </div>
{% endblock %}

